SERVER_PORT=8080

REDIS_HOST=redis
REDIS_PORT=6379

MYSQL_DATABASE=camon
MYSQL_USER=camon
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me

LIVEKIT_URL=http://host.docker.internal:7880
LIVEKIT_API_KEY=replace-me
LIVEKIT_API_SECRET=replace-me
